{% extends 'opd/master/layout.html'%}
<meta charset="UTF-8">
  {% block css %}

{% endblock %}
 {% block body %}
 <div id="content">
 <div class="container">
	 <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="index.html">
                  配置文件修改日志
                </a>
              </li>
              <li class="current">
                <a href="pages_calendar.html" title="">
                  配置文件修改日志
                </a>
              </li>
            </ul>
		</div>	
		          <div class="row">
            <div class="col-md-12">
              <div class="widget">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    日志记录
                  </h4>
                  <div class="toolbar">
                    <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
				 <div class="widget-content">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                          href="#12">
                            2016年12月
                          </a>
                        </h3>
                      </div>
                      <div id="12" class="panel-collapse collapse">
					  {% for item in logmonth  %}
                        <div class="panel-body">
							{{item.create_at|date:"d日 H:i:s"}}&nbsp{{item.applyuser}}：修改了服务器：{{item.hostlist}}的配置文件，修改的配置文件为：{{item.configfile}}
                        </div>
						 {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget-content">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                          href="#11">
                            2016年11月
                          </a>
                        </h3>
                      </div>
                      <div id="11" class="panel-collapse collapse">
					  {% for item in alllog %}
                        <div class="panel-body">
							{{item.create_at|date:"d日 H:i:s"}}&nbsp{{item.applyuser}}：修改了服务器：{{item.hostlist}}的配置文件，修改的配置文件为：{{item.configfile}}
                        </div>
						 {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

	</div>
</div>
{% endblock %}
{% block js %}

<script>
			function check(){
						document.getElementById('serverconfig').style.display = 'block';
						$("#serverconfig3").addClass("current");
							}
window.onload=check();
</script>
 {% endblock %}



