{% extends 'opd/master/layout.html'%}

<meta charset="UTF-8">
  
  {% block css %}
	.color1{background:#f00}

 {% endblock %}
  {% block body %}
	<div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="index.html">
                  批量命令执行
                </a>
              </li>
              <li class="current">
                <a href="pages_calendar.html" title="">
                  命令执行
                </a>
              </li>
            </ul>
            <ul class="crumb-buttons">
              <li>
                <a href="charts.html" title="">
                  <i class="icon-signal">
                  </i>
                  <span>
                    Statistics
                  </span>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" title="" data-toggle="dropdown">
                  <i class="icon-tasks">
                  </i>
                  <span>
                    Users
                    <strong>
                      (+3)
                    </strong>
                  </span>
                  <i class="icon-angle-down left-padding">
                  </i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="form_components.html" title="">
                      <i class="icon-plus">
                      </i>
                      Add new User
                    </a>
                  </li>
                  <li>
                    <a href="http://envato.stammtec.de/themeforest/melon/tables_dynamic.html"
                    title="">
                      <i class="icon-reorder">
                      </i>
                      Overview
                    </a>
                  </li>
                </ul>
              </li>
              <li class="range">
                <a href="#">
                  <i class="icon-calendar">
                  </i>
                  <span>
                  </span>
                  <i class="icon-angle-down">
                  </i>
                </a>
              </li>
            </ul>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    批量命令执行
                  </h4>
                </div>
                <div class="widget-content">
                  <form class="form-horizontal row-border"  enctype="multipart/form-data" >
                    <div class="alert alert-info fade in">
                      <i class="icon-remove close" data-dismiss="alert">
                      </i>
							<p>请注意：</p>
							<p>1.请选择要执行命令的服务器。</p>
							2.请输入要执行的命令。（例：ls）		
                    </div>
						<div class="form-group">
                      <label class="col-md-2 control-label">
                        目标IDC机房筛选:
                      </label>
                     	<div class="col-sm-2" >	
								<select class="form-control" name="allidc" id="houseroomid2" onchange="servergroup2();" >
								<option selected='selected' value='-1'>请选择IDC</option>
								{% for item in allidc %}
								<option value="{{item.id}}">{{item.housename}}</option>
								{% endfor %}
							</select>
						</div>
						 <label class="col-md-2 control-label">
                        目标服务器分组筛选:
                      </label>
                     	<div class="col-sm-2" >	
								<select class="form-control" name="approval" id="housegroupid2" disabled onchange="serverget2();">
							</select>
						</div>
                    </div>
						<div class="form-group">
                      <label class="col-md-2 control-label">
                        请选择要执行命令的服务器:
						<input id='selectAll' type='button' class="btn btn-xs btn-primary" value='全选'/>
						<input id='reverseAll' type='button' class="btn btn-xs btn-info" value='反选'/>
						<input id='unselectAll' type='button' class="btn btn-xs btn-success" value='全不选'/>
                      </label>
                      <div class="col-md-10" id="hostgroup2">
					   <p class="text-warning">筛选之后才会有选择的服务器</p>
					  	 <!--
						<input id='selectAll' type='button' class="btn btn-xs btn-primary" value='全选'/>
						<input id='reverseAll' type='button' class="btn btn-xs btn-info" value='反选'/>
						<input id='unselectAll' type='button' class="btn btn-xs btn-success" value='全不选'/>
						
					
					 {% for item in allhost%}
                        <label class="checkbox-inline">
					
                          <input type="checkbox" disabled id="sighost"  name="hostbox" value="{{item.id}}">
                          {{item.hostname}}
						  
                        </label>
						
                      {% endfor %}
					  -->
                      </div>
					 </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label">
                        请输入要执行的命令:
                      </label>
                      <div class="col-md-6">
                        <input type="text" name="regular" id="shell" class="form-control" >
						<!--onblur="cfgfile()"-->
                      </div>
					  	<div class="col-md-2">
						<center>
						<input class=" button btn btn-info" value="点击执行" type="button" onclick='shellcmd();'>
						</center>
						</div>
                    </div>
					 <div class="form-group">
                      <label class="col-md-2 control-label">
                        命令执行的结果:
                      </label>
                      <div class="col-md-10">
                        <textarea rows="17" cols="0"  name="textarea" id="filelist"  class="form-control">
						执行完成，便可以显示执行结果，请耐心等待。。
                        </textarea>
                      </div>
                    </div>	
                 					
				                 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  {% endblock %}
		{% block js %}
		
	<script type="text/javascript">
	

		//setInterval('testfile()',10000);
		
			function shellcmd(){
				$("#filelist").val('执行完成，便可以显示执行结果，请耐心等待。。');
				var shell=$("#shell").val();
				var str=document.getElementsByName("hostbox");
				var objarray=str.length;
				var chestr="";
				for (i=0;i<objarray;i++){
					if(str[i].checked == true){
						chestr+=str[i].value+",";
					}					
				}
				if(chestr==""){
					alert('没有选择需要执行命令的主机');
					return;
				}
				if(shell==""){
					alert('请输入需要执行的命令');
					return;
				}
				else{
					$.ajax({
						url:'/shellresult/',
						data:{data:chestr,shellcmd:shell},
						type:'POST',
						success:function(callback){
							callback=jQuery.parseJSON(callback);
						if (callback.status==1){
							var alldata="";
							for (i=0;i<(callback.data).length;i++){
								//console.log((callback.data).length)
								alldata+=callback.data[i]
							    //console.log(callback.data[i])
								
								}
							$("#filelist").val(alldata);
							$("#shell").val('');
											/*	
												if (callback.status==1){
													
												
												}else{
													
													}
												*/	
						}else{
							$("#filelist").val('系统不允许执行此命令！！！');
							alert('系统不允许执行此命令！！！');
							}
						}
						
						});
						
					}
			}
			/*
                document.onkeydown=function(event){
					e = event ? event :(window.event ? window.event : null);
					if(e.keyCode==13){
					alert('ok');
				}
			} 
			*/
				function managercheck(){
						document.getElementById('cmdshell').style.display = 'block';
						$("#cmdshell1").addClass("current");
						setTimeout("showhelp()",5000); 
						}
			window.onload=managercheck();
			function showhelp(){
				$(".alert-info").addClass("hidden");
			}
		function servergroup2(){
			var id=$('#houseroomid2').val();
			
			if (id!==''){
				$('#housegroupid2').removeAttr("disabled"); 
			}
			if (id==-1){
				$('#housegroupid2').attr("disabled",true);
				$("#hostgroup2").html('<p class="text-warning">筛选之后才会有选择的服务器</p>')
				return;
			}
			
					$.ajax({
						url:'/getgroup/',
						data:{nid:id},
						type:'POST',
						
						success:function(callback){
							callback=jQuery.parseJSON(callback);
						
							if (callback.status==1){
								var html = "<option selected='selected' value='-1'>请选择服务器组</option>";
								//console.log(callback.data)
								 for(var i=0; i<callback.data.length; i++){
										  html += "<option value= '"+callback.data[i].id+"'>"+callback.data[i].name+"</option>";
										  //console.log(callback.data[i].id);
										  //console.log(callback.data[i].name);
										 }
								$("#housegroupid2").html('').append(html);
								//window.location.reload();
							
							}else{
								alert('获取失败');
								}
						}
					});
	
		}
	
		function serverget2(){
			var idcid=$('#houseroomid2').val();
			var groupid=$('#housegroupid2').val();
			$.ajax({
				url:'/gethost/',
				data:{idcid:idcid,groupid:groupid},
				type:'POST',
				success:function(callback){
					callback=jQuery.parseJSON(callback);
					//console.log(callback.status);
					//console.log(callback.data.length);
					
					if (callback.status==1){
						//var html = "<input id='selectAll' type='button' class='btn btn-xs btn-primary' value='全选'/><input id='reverseAll' type='button' class='btn btn-xs btn-info' value='反选'/><input id='unselectAll' type='button' class='btn btn-xs btn-success' value='全不选'/>&nbsp&nbsp";
						var html="";
						//console.log(callback.data)
							if(callback.data.length==0){
									$("#hostgroup2").html('<p class="text-warning">此服务器组还没有服务器。</p>')
									return;
								
								}
						 for(var i=0; i<callback.data.length; i++){
						 
								 // html += "<option value= '"+callback.data[i].id+"'>"+callback.data[i].name+"</option>";
								 html += "<label class='checkbox-inline'><input type='checkbox' id='sighost'  name='hostbox' value='"+callback.data[i].id+"'>"+callback.data[i].hostname+"</label>";
								// console.log(html);
								 //console.log(callback.data[i].id);
								  //console.log(callback.data[i].hostname);
								 }
						$("#hostgroup2").html('').append(html);
						//window.location.reload();
					
					}else{
						alert('获取失败');
						}
					
				}
			
			});
		
		
		}
				</script>
		 {% endblock %}