{% extends 'opd/master/layout.html'%}
<meta charset="UTF-8">
  
  {% block css %}

 {% endblock %}
  {% block body %}
	 
  
     
      <div id="content">
	 
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="index.html">
                  Dashboard
                </a>
              </li>
              <li class="current">
                <a href="pages_calendar.html" title="">
                  Calendar
                </a>
              </li>
            </ul>
            <ul class="crumb-buttons">
              <li>
                <a href="charts.html" title="">
                  <i class="icon-signal">
                  </i>
                  <span>
                    Statistics
                  </span>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" title="" data-toggle="dropdown">
                  <i class="icon-tasks">
                  </i>
                  <span>
                    Users
                    <strong>
                      (+3)
                    </strong>
                  </span>
                  <i class="icon-angle-down left-padding">
                  </i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="form_components.html" title="">
                      <i class="icon-plus">
                      </i>
                      Add new User
                    </a>
                  </li>
                  <li>
                    <a href="http://envato.stammtec.de/themeforest/melon/tables_dynamic.html"
                    title="">
                      <i class="icon-reorder">
                      </i>
                      Overview
                    </a>
                  </li>
                </ul>
              </li>
              <li class="range">
                <a href="#">
                  <i class="icon-calendar">
                  </i>
                  <span>
                  </span>
                  <i class="icon-angle-down">
                  </i>
                </a>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <div class="page-title">
              <h3>
                主机列表
              </h3>
              <span>
                Good morning, 顾天宇!
              </span>
            </div>
            <ul class="page-stats">
              <li>
                <div class="summary">
                  <span>
                    New orders
                  </span>
                  <h3>
                    17,561
                  </h3>
                </div>
                <div id="sparkline-bar" class="graph sparkline hidden-xs">
                  20,15,8,50,20,40,20,30,20,15,30,20,25,20
                </div>
              </li>
              <li>
                <div class="summary">
                  <span>
                    My balance
                  </span>
                  <h3>
                    $21,561.21
                  </h3>
                </div>
                <div id="sparkline-bar2" class="graph sparkline hidden-xs">
                  20,15,8,50,20,40,20,30,20,15,30,20,25,20
                </div>
              </li>
            </ul>
          </div>
         
          <div class="row">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    主机列表
                  </h4>
                  <div class="toolbar no-padding">
                    <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
				
                <div class="widget-content">
                  <table class="table table-hover table-checkable" id="hostlist">
                    <thead>
                      <tr>
						<th class="checkbox-column">
							<div class="checker">
							<span class="">
							<input class="uniform" type="checkbox">
							</span>
							</div>
						</th>
                        <th>
                          ID号
                        </th>
                        <th>
                          主机名
                        </th>
                        <th>
                          IP地址
                        </th>
                       
                        <th>
                          所属机房
                        </th>
						
						
						<th>
                          状态
                        </th>
						<th>
                          操作
                        </th>
                      </tr>
                    </thead>
					
                    <tbody>
					{% for item in allhost %}
                      <tr>
						<td class="checkbox-column">
							<div class="checker">
							<span class="">
							<input class="uniform" type="checkbox">
							</span>
							</div>
						</td>
                        <td>
                         {{item.id}}
                        </td>
                        <td>
                          {{ item.hostname }}
                        </td>
                        <td>
                          {{ item.ipaddrs }}
                        </td>
                        <td>
                          {{ item.house }}
                        </td>
						 <td>
                          <span class="label label-info" name="hostcheck" value="{{item.id}}">
                          状态检测中.....
                          </span>
						  <span class="label label-danger hide">
                     
                          </span>
                        </td>

						 <td>
							<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{item.id}}">
								修改
							</button>
							<button class="btn btn-primary btn-lg"  onclick="fn({{item.id}})">
								删除
							</button>
                          <div class="modal fade" id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
										</button>
											<h4 class="modal-title" id="myModalLabel">
												主机信息修改
												
											</h4>
									</div>
								<div class="modal-body">
										<form class="form-horizontal" id="gtytest" role="form" action="/api/md/"  method='POST'>
										
											<div class="form-group hide">
												<label for="disabledTextInput"  class="col-sm-2 control-label">id号
												</label>
												<div class="col-sm-10">
													<input type="text" id="disabledTextInput" class="form-control" value="{{item.id}}" name="cmdbid" />
												</div>
											</div>
										
										
											<div class="form-group" id="ftnm">
												<label for="firstname" class="col-sm-2 control-label">IP地址</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="firstname" name="firstname" autofocus="autofocus"
														   value="{{item.ipaddrs}}" data-rule-required="true" data-msg-required="请输入ip地址"/>
												</div>
											</div>
											<div class="form-group" id="ltnm">
												<label for="lastname" class="col-sm-2 control-label">MAC地址</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="lastname" name="lastname" autofocus="autofocus"
													value="{{item.mac}}" data-rule-required="true" data-msg-required="请输入MAC地址"/>
												</div>
											</div>
												<div class="alert alert-success hide text-center" name="succmd">{{status}}</div>
												<div class="alert alert-danger hide text-center" name="errormd">{{status}}</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">关闭
													</button>
													<button type="submit" class="submit btn btn-primary" onclick="check(this,{{item.id}});return false;" id="mdsubmit">
														提交更改
														<i class="icon-angle-right">
														</i>
													</button>
												</div>
											</div><!-- /.modal-content -->
											
										</form>
								</div>
						
							</div><!-- /.modal -->
						</div>
                        </td>
                      </tr>
                      {% endfor %}
					
                    </tbody>
					</table>
                  
					<div>
					<center>
						<button class="btn btn-xs btn-info" data-toggle="modal" data-target="#addhost">
								添加主机
						</button>
						</center>
						
						<div class="modal fade" id="addhost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
										</button>
											<h4 class="modal-title" id="myModalLabel">
												添加主机
												
											</h4>
									</div>
								<div class="modal-body">
										<form class="form-horizontal" id="gtytest" role="form" action="/addhost/"  method='POST'>
											<div class="form-group" id="ftnm">
												<label for="firstname" class="col-sm-2 control-label">主机名</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="hostname" name="hostname" autofocus="autofocus"
														    data-rule-required="true" data-msg-required="请输入主机名" placeholder="请输入主机名"/>
												</div>
											</div>
											<div class="form-group" id="ltnm">
												<label for="lastname" class="col-sm-2 control-label">ip地址</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="ipaddr" name="ipaddr" autofocus="autofocus"
													 data-rule-required="true" data-msg-required="请输入IP地址" placeholder="请输入IP地址"/>
												</div>
											</div>
										
											<div class="form-group" id="ltnm">
												<label for="lastname" class="col-sm-2 control-label">登录用户名</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="hostusername" name="hostusername" autofocus="autofocus"
													 data-rule-required="true" data-msg-required="请输入登录用户名"placeholder="请输入登录用户名"/>
												</div>
											</div>
											<div class="form-group" id="ltnm">
												<label for="lastname" class="col-sm-2 control-label">登录密码</label>
												<div class="col-sm-10">
													<input type="password" class="form-control" id="hostpwd" name="hostpwd" autofocus="autofocus"
													 data-rule-required="true" data-msg-required="请输入登录密码"placeholder="请输入登录密码"/>
												</div>
											</div>
											<div class="form-group" id="ltnm">
												<label for="lastname" class="col-sm-2 control-label">所属机房</label>
												<div class="col-sm-10">
													
													<select class="form-control" name="houseroomid">
														{% for item in allroom %}
														<option value="{{item.id}}">{{item.housename}}</option>
														{% endfor %}
													
													</select>
												</div>
											</div>
												<div class="alert alert-success hide text-center" name="succmd">{{status}}</div>
												<div class="alert alert-danger hide text-center" name="errormd">{{status}}</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">关闭
													</button>
													<button type="submit" class="submit btn btn-primary" onclick="check(this,{{item.id}});return false;" id="mdsubmit">
														添加
														<i class="icon-angle-right">
														</i>
													</button>
												</div>
											</div><!-- /.modal-content -->
											
										</form>
								</div>
						
							</div><!-- /.modal -->
						</div>
					</div>
                </div>
              </div>
            </div>
          </div>
         

          <div class="row">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    Table with Footer
                  </h4>
                  <div class="toolbar no-padding">
                    <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="widget-content">
                  <table class="table table-hover table-striped table-bordered table-highlight-head">
                    <thead>
                      <tr>
                        <th>
                          #
                        </th>
                        <th>
                          First Name
                        </th>
                        <th>
                          Last Name
                        </th>
                        <th class="hidden-xs">
                          Username
                        </th>
                        <th>
                          Status
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                          Joey
                        </td>
                        <td>
                          Greyson
                        </td>
                        <td class="hidden-xs">
                          joey123
                        </td>
                        <td>
                          <span class="label label-success">
                            Approved
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          2
                        </td>
                        <td>
                          Wolf
                        </td>
                        <td>
                          Bud
                        </td>
                        <td class="hidden-xs">
                          wolfy
                        </td>
                        <td>
                          <span class="label label-info">
                            Pending
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          3
                        </td>
                        <td>
                          Darin
                        </td>
                        <td>
                          Alec
                        </td>
                        <td class="hidden-xs">
                          alec82
                        </td>
                        <td>
                          <span class="label label-warning">
                            Suspended
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          4
                        </td>
                        <td>
                          Andrea
                        </td>
                        <td>
                          Brenden
                        </td>
                        <td class="hidden-xs">
                          andry
                        </td>
                        <td>
                          <span class="label label-danger">
                            Blocked
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="table-footer">
                      <div class="col-md-6">
                        <div class="table-actions">
                          <label>
                            Apply action:
                          </label>
                          <select class="select2" data-minimum-results-for-search="-1" data-placeholder="Select action...">
                            <option value="">
                            </option>
                            <option value="Edit">
                              Edit
                            </option>
                            <option value="Delete">
                              Delete
                            </option>
                            <option value="Move">
                              Move
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <ul class="pagination">
                          <li class="disabled">
                            <a href="javascript:void(0);">
                              &larr; Prev
                            </a>
                          </li>
                          <li class="active">
                            <a href="javascript:void(0);">
                              1
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              2
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              3
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              4
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              Next &rarr;
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
		{% endblock %}
		{% block js %}
    <script type="text/javascript">
      if (location.host == "envato.stammtec.de" || location.host == "themes.stammtec.de") {
        var _paq = _paq || [];
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]); (function() {
          var a = (("https:" == document.location.protocol) ? "https": "http") + "://analytics.stammtec.de/";
          _paq.push(["setTrackerUrl", a + "piwik.php"]);
          _paq.push(["setSiteId", "17"]);
          var e = document,
          c = e.createElement("script"),
          b = e.getElementsByTagName("script")[0];
          c.type = "text/javascript";
          c.defer = true;
          c.async = true;
          c.src = a + "piwik.js";
          b.parentNode.insertBefore(c, b)
        })()
      };
    </script>
	<script type="text/javascript">

	
		 	  function check(content,id){
				var value=$(content).children("#ftnm").children(".col-sm-10").children("#firstname").val();
				var mac=$(content).children("#ltnm").children(".col-sm-10").children("#lastname").val();
				console.log(content);
				
				console.log(id)
				
				ip=$(content).parent().prev().prev().prev().prev("#ftnm").children(".col-sm-10").children("#firstname").val();
				console.log(ip);
				mac=$(content).parent().prev().prev().prev("#ltnm").children(".col-sm-10").children("#lastname").val();
				console.log(mac);
				value=$(content).children("#ftnm").children(".col-sm-10").children("#firstname").val();
				$.ajax({
					url:'/api/check/',
					async:false,
					data:{mdip:ip,nid:id,mdmac:mac},
					type:'POST',
					success:function(callback){
						
						callback=jQuery.parseJSON(callback);
						if (callback.status==1){
						//把数据append到回复列表
						
						$(content).parent().prev().prev().removeClass("hide"); 
						var x=document.getElementsByName("succmd");
						
						for(var i = 0;i < x.length;i++){
							document.getElementsByName("succmd")[i].innerHTML='修改成功.';  
						}
										
						bol=True;
						
					}else{
						
						$(content).parent().prev().removeClass("hide");
						var y=document.getElementsByName("errormd");
						for(var i = 0;i < y.length;i++){
							document.getElementsByName("errormd")[i].innerHTML='请检查，无法修改.';  
						}			
											
						bol=false;
						
							}
					}
				});
				return bol;
			}
		function myrefresh() 
			{ 
				   //window.location.reload(); 
				   var x=document.getElementsByName("hostcheck");
				   for(var i = 0;i < x.length;i++){
						var objTemp = x[i];
						//console.log(objTemp)
							abc=document.getElementsByName("hostcheck")[i].attributes["value"].value;
								$.ajax({
									url:'/hostcheck/',
									data:{nid:abc},
									async:false,
									type:'POST',
									success:function(callback){
										callback=jQuery.parseJSON(callback);
										//console.log(callback.id);
										if (callback.id==1){
											bol=true;
											
										}else{
											
											bol=false;
										}
									}
								});
							if (bol==true){
								$(objTemp).removeClass("hide label-danger label-info");
								$(objTemp).addClass("label-success");
								document.getElementsByName("hostcheck")[i].innerHTML='连接成功';
							}else{
								$(objTemp).removeClass("hide label-success label-info");
								$(objTemp).addClass("label-danger");
								document.getElementsByName("hostcheck")[i].innerHTML='连接失败';
							}
				}		
			} 
			setInterval('myrefresh()',10000);
			//setTimeout('myrefresh()',5000);
			function delhost(id) { 
				if(confirm("确定删除吗")){
					
					$.ajax({
						url:'/delhost/',
						data:{nid:id},
						type:'POST',
						success:function(callback){
							callback=jQuery.parseJSON(callback);
						
							if (callback.status==1){
								alert('删除成功');
								
								window.location.reload();
							
							}else{
								alert('删除失败');
								}
						}
						
					});
					
				   }else{
						window.location.reload();
				   }
				  }
				   /*
				   function fn(){
				  if(confirm("确定删除吗")){
					  location.href="确认后跳转的页面";
				  }else{
					  location.href="取消后跳转的页面";
					}
				}
				*/		 
	</script>
 {% endblock %}