{% extends 'opd/master/layout.html'%}
<meta charset="UTF-8">
  
  {% block css %}
	.color1{background:#f00}

 {% endblock %}
  {% block body %}
	<div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="index.html">
                  Dashboard
                </a>
              </li>
              <li class="current">
                <a href="pages_calendar.html" title="">
                  Calendar
                </a>
              </li>
            </ul>
            <ul class="crumb-buttons">
              <li>
                <a href="charts.html" title="">
                  <i class="icon-signal">
                  </i>
                  <span>
                    Statistics
                  </span>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" title="" data-toggle="dropdown">
                  <i class="icon-tasks">
                  </i>
                  <span>
                    Users
                    <strong>
                      (+3)
                    </strong>
                  </span>
                  <i class="icon-angle-down left-padding">
                  </i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="form_components.html" title="">
                      <i class="icon-plus">
                      </i>
                      Add new User
                    </a>
                  </li>
                  <li>
                    <a href="http://envato.stammtec.de/themeforest/melon/tables_dynamic.html"
                    title="">
                      <i class="icon-reorder">
                      </i>
                      Overview
                    </a>
                  </li>
                </ul>
              </li>
              <li class="range">
                <a href="#">
                  <i class="icon-calendar">
                  </i>
                  <span>
                  </span>
                  <i class="icon-angle-down">
                  </i>
                </a>
              </li>
            </ul>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    远程服务器配置文件修改
                  </h4>
                </div>
                <div class="widget-content">
                  <form class="form-horizontal row-border" action="/suballconf/" method='POST'>
                    <div class="alert alert-success fade in">
                      <i class="icon-remove close" data-dismiss="alert">
                      </i>
							恭喜你修改成功。。
                    </div>
					<div class="form-group">
						<div class="col-md-10">
							<p><a href="/fileread/">继续修改</a> &nbsp&nbsp&nbsp<a href="/index/">回到主页</a></p>
							
						</div>
					</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  {% endblock %}
		{% block js %}
		
	<script type="text/javascript">
	function managercheck(){
						document.getElementById('serverconfig').style.display = 'block';
						$("#serverconfig1").addClass("current");
						}
			window.onload=managercheck();

	   </script>
		 {% endblock %}